body {
	width: 960px;
	margin: 20px auto;
	color: rgb(142, 40, 173);
}

#header {
	color: black;
	background: rgb(100, 160, 250);
	padding-left: 10px;
	height: 60px;
}

#content {
	background: blue;
	color: rgb(40, 24, 255);
	height: 452px;
	padding-left: 10px;


}

#navbar {
	font-size: 20px;
}

#navbar li {
	text-decoration: none;
	list-style: none;
}

#navbar a {
	color: rgb(231, 15, 15);
	text-decoration: none;
	list-style: none;
}

#navbar a:hover {
	color: rgb(70, 38, 156);
}
